@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.ff-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

/* * {
  outline: solid;
} */

:root {
  --text: 220, 37%, 8%;
  --background: 220, 37%, 97%;
  --primary: 220, 44%, 50%;
  --secondary: 219, 48%, 70%;
  --accent: 219, 51%, 63%;

  --text: 195, 86%, 3%;
  --background: 193, 90%, 97%;
  --primary: 192, 90%, 51%;
  --secondary: 252, 90%, 73%;
  --accent: 270, 90%, 60%;

  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
}

.gutter-stable {
  scrollbar-gutter: stable;
}

body {
  background-color: hsl(var(--background));
}

.gridBgWrapper {
	--blockSize: calc(12.5vw);
	--borderWidth: 1px;
	--borderColor: hsl(var(--accent), 0.15);
	--bgColor: var(--background);

	/* perspective: calc(100vh / 2); */
	perspective: 1400px;
	overflow: hidden;

	& * {
		transform-style: preserve-3d;
	}
}
.gridBg {
	position: absolute;
	/* inset: -200vmax; */
	inset: 0 0 -10vmax 0;
	background-attachment: fixed;
	background-color: var(--bgColor);
	background-image: linear-gradient(
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		),
		linear-gradient(
			90deg,
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		);

	background-size: var(--blockSize) var(--blockSize),
		var(--blockSize) var(--blockSize);
	/* background-repeat: round; */
	/* background-position-x: calc(var(--blockSize) * 0.5 * -1); */
	animation: gridBgMove 3s infinite linear;
	transform-origin: top;
	transform: rotateX(45deg);
}

* {
  color: hsl(var(--text));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary), 0.3);
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(313, 20%, 69%, 0.5);
}

.fileNoChild:first-child {
  margin-top: 0.5rem;
}


@keyframes gridBgMove {
	to {
		background-position-y: var(--blockSize), var(--blockSize);
	}
}

.heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4em;
    margin: 3em 0;
}
.part1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.part1-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.part1-card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
}

.part1-card-bg {
    background-color: hsl(var(--primary));
    opacity: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    flex: 1;
    top: 0;
    left: 0;
}

.part1-card-img {
    height: 50%;
}

.highlight {
    z-index: 5;
}

.highlight::before {
    content: "";
    background-color: hsl(var(--accent));
    height: 12px;
    width: 100%;
    display: block;
    transform: translate(0, 32px);
    z-index: -5;
    opacity: 50%;
    position: relative;
}



/* part 2 */

.part2 {
    background-color: hsl(var(--accent));
    border-radius: 6px;
    padding: 1.5em 2em;

    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}

.part2-left {
    width: 30%;
}

.part2-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 5em;
}

.step {
    width: 30%;
    flex-grow: 2;
}

.one::before {
    content: '1';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.two::before {
    content: '2';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.three::before {
    content: '3';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.four::before {
    content: '4';
    font-size: var(--h2);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em, 0);
}

.heroMain  {
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

.heroMain h2 {
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

.heroMain h3 {
    font-size: var(--subtitle);
    font-weight: 700;
}

.heroMain a {
    text-decoration: none;
    color: inherit;
}

.heroMain p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}

::selection {
    background-color: hsl(var(--accent));
}

.subtitle {
    font-size: var(--subtitle);
}

.sub {
    font-size: var(--sub);
}


@media screen and (max-width: 1200px) {
    /* body {
        margin: 0 5%;
    } */

    .option > div, .option > label {
        font-size: 14px;
    }

    .toolbar {
        bottom: 2em;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .sub {
        font-size: 14px;
    }


}

@media screen and (max-width: 900px) {

    body {
        gap: 2em;
    }
    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .part1-cards {
        flex-direction: column;
        gap: 2em;
    }

    .part1-card {
        width: 100%;
    }

    .part2 {
        flex-direction: column;

    }

    .part3-cards {
        flex-direction: column;
        gap: 2em;
    }

    .part3-card {
        width: 100%;
    }

    .part2-left {
        width: 100%;
    }

    .part2-right {
        width: 100%;
    }

    .toolbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        margin: 3% 5%;
        width: 100%;
    }

    .footer-cols {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }

    .footer {
        padding: 3em;
    }

    .hero-text {
        width: 100%;
    }

    .hero-img {
        width: 70%;
    }

    .mondrian {
        height: auto;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .logoface {
        width: 30px;
    }


    .hero-cta {
        flex-direction: column;
    }

    .primary-button, .secondary-button {
        text-align: center;
    }

    .menu {
        display: none;
    }

    .rolloutbutton {
        display: flex !important;
        padding: 0.5em 5em;
    }

    .rolloutbutton.rotate > svg {
        transform: rotate(180deg);
    }

    .toolbar {
        flex-direction: column;
        align-self: flex-end;
        bottom: 1em;
    }

    .rollout {
        display: none !important;
    }

    
}

@media screen and (max-width: 800px) {

    .step {width: 100%;}

    .part2 {
        gap: 1em;
    }

    .part2-right {
        gap: 1em;
    }


}