@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  outline: solid;
} */

@layer base {
  :root {
    --text: hsl(216 16% 94%);
    --background: hsl(210 30% 4%);
    --primary: hsl(209 41% 75%);
    --secondary: hsl(210 55% 31%);
    --accent: hsl(210 70% 52%);
  }

  :root {
    --text: 260, 43%, 96%;
    --background: 260, 100%, 3%;
    --primary: 260, 69%, 47%;
    --secondary: 260, 84%, 30%;
    --accent: 260, 99%, 39%;
  }
  /* Light */
  :root {
    --text: 264, 50%, 4%;
    --background: 260, 60%, 97%;
    --primary: 260, 69%, 53%;
    --secondary: 260, 84%, 70%;
    --accent: 260, 99%, 61%;
  }
}



body {
  background-color: hsl(var(--background));
}

* {
  color: hsl(var(--text));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.scrollbar::-webkit-scrollbar {
  /* display: none; */
  width: 0.35rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary), 0.3);
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(313, 20%, 69%, 0.5);
}

.fileNoChild:first-child {
  margin-top: 0.5rem;
}