@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  outline: solid;
} */

@layer base {
  :root {
    --text: hsl(216 16% 94%);
    --background: hsl(210 30% 4%);
    --primary: hsl(209 41% 75%);
    --secondary: hsl(210 55% 31%);
    --accent: hsl(210 70% 52%);
  }
}



body {
  background-color: var(--background);
}
* {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

